@import "tailwindcss";
/* @import "@tailwindcss/forms"; */

@layer utilities {
  @keyframes hide {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(6px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(6px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-6px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes accordionOpen {
    from {
      height: 0px;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordionClose {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0px;
    }
  }
  @keyframes dialogOverlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes dialogContentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -45%) scale(0.95);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @keyframes drawerSlideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes drawerSlideRightAndFade {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(100%);
    }
  }

  .animate-hide {
    animation: hide 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .animate-slideDownAndFade {
    animation: slideDownAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .animate-slideLeftAndFade {
    animation: slideLeftAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .animate-slideUpAndFade {
    animation: slideUpAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .animate-slideRightAndFade {
    animation: slideRightAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .animate-accordionOpen {
    animation: accordionOpen 150ms cubic-bezier(0.87, 0, 0.13, 1);
  }
  .animate-accordionClose {
    animation: accordionClose 150ms cubic-bezier(0.87, 0, 0.13, 1);
  }
  .animate-dialogOverlayShow {
    animation: dialogOverlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .animate-dialogContentShow {
    animation: dialogContentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .animate-drawerSlideLeftAndFade {
    animation: drawerSlideLeftAndFade 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .animate-drawerSlideRightAndFade {
    animation: drawerSlideRightAndFade 150ms ease-in;
  }
}
